@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

.font-dmsans{
   font-family: "DM Sans", sans-serif;
}


@theme {
  --color-gray_1: #F5F5F3;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}